<!DOCTYPE HTML>
<html>
	<head>
		<title>Semestralne zadanie</title>
		<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
	    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
	    <script type="text/javascript" charset="utf-8">
		  $(document).ready(function() {
			namespace = '/test';
			var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

			socket.on('connect', function() {
			socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

			socket.on('my_response', function(msg) {
			console.log(msg.data);
			$('#log').append('Received #'+msg.count+": "+msg.data+'<br>').html(); });

			$('form#emit').submit(function(event) {
				socket.emit('my_event', {value: $('#emit_value').val()});
				return false; });
        
			$('#buttonVal').click(function(event) {
				console.log($('#buttonVal').val());
				socket.emit('click_event', {value: $('#buttonVal').val()});
				return false; });
        
			$('form#disconnect').submit(function(event) {
				socket.emit('disconnect_request');
				return false; }); 
        
			$('#start').click(function(event) {
				console.log($('#start').val());
				socket.emit('click_start', {value: $('#start').val()});
				return false; });
        
			$('#stop').click(function(event) {
				console.log($('#stop').val());
				socket.emit('click_stop', {value: $('#stop').val()});
				return false; });
		});          
    </script>
	</head>
	<body>
		<h1>Nadpis</h1>
		
		<h2>Send:</h2>
		<form id="emit" method="POST" action='#'>
			<input type="number" min="0" max="5" name="emit_value" id="emit_value" placeholder="0-5V" step ="0.1"value="0">
			<input type="submit" value="Send">
		</form>
		<form id="disconnect" method="POST" action="#">
			<input type="submit" value="Disconnect">
		</form> 

		
		<button id="start" type="button" value="start">Start</button>
		<button id="stop" type="button" value="stop">Stop</button>
		
		<h2>Receive:</h2>
		<div id="log"></div>
	</body>
</html>
